{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'AlgGen/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <script>
MathJax = {
  loader: {load: ['input/asciimath', 'output/chtml']}
}

    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/startup.js">
    </script>
    <title>AlgGen</title>
</head>
<body>
<header class="site-header">
    <div class="site-identity">
        <img src="{% static 'AlgGen/images/logo.png' %}" alt="AlgGen"/>
    </div>
    <nav class="site-navigation">
        <ul class="nav">
            <li class=border-right><a href="#">Практика</a></li>
            <li><a href="#">Курсы</a></li>
        </ul>
    </nav>
    <div class="site-profile">
        <a href="#"><img src="{% static 'AlgGen/images/profile-icon.jpg' %}" alt="profile"/></a>
        <div class="profile-name">Егор</div>
    </div>
</header>
<div class="container">
    <div class="left-sidebar">
        <h2 class="sectionsHeader">Разделы</h2>
        <ul class=sections>
            <li class="section"><a href="#">Арифметика</a></li>
            <li class="section"><a href="#">Линейные уравнения</a></li>
            <li class="section"><a href="#">Квадратный трехчлен</a></a></li>
            <li class="section"><a href="#">Системы</a></li>
            <li class="section"><a href="#">Замена переменной</a></li>
            <li class="section"><a href="#">Производная</a></li>
            <li class="section"><a href="#">Неравенства</a></li>
        </ul>
    </div>
    <div id="content" class="site-content">
        <h1 class="problemHeader">Вычислите и впишите правильный ответ в поле</h1>
        <ol class=problems>
            <li class="problem"><p>`sqrt(36)=`</p><input type="text"></li>
            <li class="problem"><p>`2^5=`</p><input type="text"></li>
            <li class="problem"><p>`221/17=`</p><input type="text"></li>
            <li class="problem"><p>`log(512)=`</p><input type="text"></li>
            <li class="problem"><p>`2+2=`</p><input type="text"></li>
        </ol>
        <button type="button">Проверить</button>
        <button type="button" onClick="window.location.reload()">Обновить</button>

    </div>
</div>

</body>
</html>