body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #333;
	margin: 0;
}


*,
*:before,
*:after{
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
}


a {
  text-decoration: none;
  color: #000;
}

button{
	background-color: white;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	color: #333;
	cursor: pointer;
}



#content{
	width: calc(100% - 330px);
	min-height: calc(100vh - 60px);
	max-width: 950px;
	float: right;
	border-left: 1px solid #cecece;
	padding: 24px;
}

#selected-section{
    font-weight: 700;
    pointer-events: none;
}

#formContainer{
    box-shadow: 0 10px 25px rgb(0 0 0 / 5%), 0 20px 48px rgb(0 0 0 / 5%), 0 1px 4px rgb(0 0 0 / 10%);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 7px;
    max-width: 24rem;
}

#register-form{
    flex-direction: column;
    margin: -6px;
}
#registration{
        flex-direction: column;
        justify-content: center ;
        align-items: center;
        width: 100%;
        max-width: 1264px;
        padding: 24px;
        min-height: calc(100vh - 60px);
        display: flex;
}
#registrationContainer{
        justify-content: center ;
        width: 100%;
        background: none;
        display: flex;
        margin: 0 auto;
}

#id_username,
#id_email,
#id_first_name,
#id_password1,
#id_password2{
font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 600;
    width: 100%;
    padding: .6em .7em;
    font-size: 13px;
    font-family: inherit;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
}

#login_logo img{
   text-align: center;
  max-width: 50px;
  margin:30px;
}

#auth_button{
position: relative;
    display: inline-block;
    padding: .8em;
    border: 1px solid;
    border-radius: 3px;
    background-color: transparent;
    outline: none;
    font-size: 13px;
    line-height: 1.15384615;
    text-align: center;
    cursor: pointer;
}

#register_error_message{
    border: 1px solid;
    border-radius: 5px;
    background-color: #f7c9c9;
    max-width: 190px;
    font-size: 12px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin:10px;
}

#auth_suggestion{
    font-size: 12px;
    text-align: center;
}

#auth_suggestion a{
    color: #0077cc;
}

#user_menu{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#user_menu a{
  padding: 12px 16px;
  display: block;
}

.input-answer {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.2;
	color: #333;
	max-width: 100px;
	border-radius: 5px;
}

.container{
	width: 100%;
	background: none;
	display: flex;
	margin: 0 auto;
}

.left-sidebar{
	position: relative;
	width: 330px;
}

.problemHeader {
	font-size: 18px;
	font-weight: 700;
	max-width: 400px;
	margin: 30px 0 8px 0;
}

.sectionsHeader{
	font-size: 16px;
	font-weight: 400;
	float: right;
	margin: 54px 60px 0 150px;
}

.sections{
	line-height: 1;
	font-size: 14px;
	float: right;
	max-width: 150px;
	margin-top: 0;
}
.section{
	list-style-type: none;
	margin: 1em 0 1em 0;
}

.problems{
	font-size: 20px;
}

.site-header {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffd300;
  height: 60px;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity img {
  max-width: 40px;
  float: left;
  margin: 10px 10px 0 20px;
}

.site-navigation {
  float: left;
  margin: 0 0 0 50px;
}

.site-navigation ul, li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
  font-weight: 700;
}
.border-right{
	border-right: 1px solid black;
	padding-right: 35px;
}


.site-profile{
	float: right;
}


.site-profile img {
  max-width: 40px;
  float: right;
  margin: 10px 10px 0 20px;
}
.site-profile:hover #user_menu {display: block;}

.profile-name{
	display: inline-block;
	margin: 1.4em 0 1em 1em;
	font-weight: 700;
}

.input_user,
		.input_pass:focus {

			box-shadow: none !important;
			outline: 0px !important;
		}
.auth_item{
display: flex;
flex-direction: column;
font-weight: 700;
margin:10px;
}

.auth_input_box{
margin: 2px;
}
