{% extends "base.html" %}

{% block body %}
<div class="container">
    <div class="left-sidebar">
        <h2 class="sectionsHeader">Разделы</h2>
        <ul class=sections>
            <li class="section" {%if problem_type == "arithmetic"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=arithmetic">Арифметика</a></li>
            <li class="section" {%if problem_type == "linear"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=linear">Линейные уравнения</a></li>
            <li class="section" {%if problem_type == "quadratic"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=quadratic">Квадратный трехчлен</a></li>
            <li class="section" {%if problem_type == "system"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=system">Системы</a></li>
            <li class="section" {%if problem_type == "replacement"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=replacement">Замена переменной</a></li>
            <li class="section" {%if problem_type == "derivative"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=derivative">Производная</a></li>
            <li class="section" {%if problem_type == "inequality"%}id="selected-section"{%endif%}><a href="{%url 'index'%}?type=inequality">Неравенства</a></li>
        </ul>
    </div>
    <div id="content" class="site-content">
        <h1 class="problemHeader">Вычислите и впишите правильный ответ в поле.
            {%if problem_type == "quadratic" or problem_type == "system"%} Значения x указать в порядке возрастания.{%endif%}
            {%if problem_type == "replacement"%}Напишите только целые ответы в порядке возрастания.{%endif%}
            {%if problem_type == "inequality"%} Ответ должен быть вида "ЛеваяГраница ПраваяГраница".{%endif%}
            {%if problem_type == "derivative"%} Ответом является значение производной при x равном данному значению.{%endif%}</h1>
        <ol class=problems>
            {% for problem in problems %}
            <li class="problem">
                {{problem.1}}<input type="text" class="input-answer">
                <input value="Показать решение" class="show_solution" onclick="document.getElementsByClassName('solution')[{{problem.0}}].style.display = 'flex'">
                <div class="solution">
                    <div class="solution_text">{{problem.3}}</div>
                    <button class="exit_button" onClick="document.getElementsByClassName('solution')[{{problem.0}}].style.display = 'none'">X</button>
                </div>
            </li>
            {% endfor %}
        </ol>
        <p id="congratulations_text">Все Верно!</p>
        <button type="button" onClick="check_answer()">Проверить</button>
        <button type="button" onClick="window.location.reload()">Обновить</button>

    </div>
</div>
{% endblock %}

{% block script %}
    function check_answer(){
        var problems = document.getElementsByClassName("problem");
        var i = 0;
        var everything_is_right = 1;
        {% for problem in problems %}
            var answer = problems[i].getElementsByClassName("input-answer")[0];
            var show_solution_btn = problems[i].getElementsByClassName("show_solution")[0];
            if (answer.value == '{{problem.2}}'){
                answer.style.background = "#ecf9dd";
            }
            else{
                answer.style.background = "#f7c9c9";
                show_solution_btn.style.display = "block";
                everything_is_right = 0;
            }
            i+=1;
        {% endfor %}
        if (everything_is_right){
            document.getElementById("congratulations_text").style.display = "block";
        }
    }
{% endblock %}